@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Beth+Ellen&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Foundation:wght@400..700&family=Inconsolata:wght@200..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=M+PLUS+1p&family=Manrope:wght@200..800&family=Marcellus&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Marcellus", serif;
    
}

.container {
    
    padding-bottom: 20px;
    min-height: 100vh;
    font-weight: bolder;
}
 
.home_div {
 
    background-image: url('img/food.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

b {    
    font-size: large;
}
.text {
    font-family: "Raleway", sans-serif;
   
}
.content_div {
    color: white;
    margin-left: 5%;
    margin-top: 8%;
    display: flex;
    flex-direction: row;
}

#msg {
    text-align: center;
    color: red;
    display: none;
    margin-bottom: 20px;
}
#items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.singleItem {
    cursor: pointer;
    
}
#details {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 3%;
    margin-right: 3%;
}